@import "tailwindcss";


body {
    background-color: var(--color-zinc-100);
}

.divider::before {
  content: "";
  display: block;
  height: 3.8px;
  border-top: 2px solid var(--color-zinc-100);
  border-bottom: 1px solid var(--color-zinc-100);
  background-color: black;
}
